/*** BWS Google Anlytics ***/
/* Global Styles */
strong {
	font-weight: bold;
}

table.gglnltcs h3 {
	font-weight: bold;
}

table.gglnltcs td {
	vertical-align: top;
	text-align: left;
	padding: 0px 25px 0 0;
	line-height: 1.3;
	font-weight: 400;
}

table.gglnltcs th {
	line-height: 1.3;
	padding: 0px 10px 20px 0; 
	text-align: left;
	vertical-align: top;
	width: 200px;
}

table.gglnltcs hr:first-of-type {
	margin-top: 0;
}

/* Date Section */
#gglnltcs-date {
	margin-bottom: 30px;
	position: relative;
}

#gglnltcs-end-date {
	display: block;
}

#gglnltcs-start-date,
#gglnltcs-end-date {
	padding-left: 5px;
	padding-top: 3px;
	vertical-align: top;
	width: 178px;
}

#gglnltcs-start-date.gglnltcs-invalid-date-range,
#gglnltcs-end-date.gglnltcs-invalid-date-range {
	border: 2px solid rgb(205, 92, 92);
	padding-left: 4px;
	padding-top: 2px;
}

#gglnltcs-start-date.gglnltcs-validation-failed,
#gglnltcs-end-date.gglnltcs-validation-failed {
	padding-left: 4px;
	padding-top: 2px;
}

#gglnltcs-start-date.gglnltcs-validation-failed,
#gglnltcs-end-date.gglnltcs-validation-failed,
#gglnltcs-metrics input[type=checkbox].gglnltcs-validation-failed,
#gglnltcs-metrics-line-chart input[type=checkbox].gglnltcs-validation-failed,
#gglnltcs-authentication-code-input.gglnltcs-validation-failed,
.error-message {
	border: 2px solid rgb(205, 92, 92);
}

#gglnltcs-get-statistics-button {
	margin-top: 16px;
	width: 178px;
}

#gglnltcs-get-statistics-button-line-chart {
	margin-bottom: 16px;
	width: 178px;
}

/* Metrics and Dimensions */
#gglnltcs-dimensions {
	display: none;
}

#gglnltcs-metrics td,
#gglnltcs-dimensions td,
#gglnltcs-metrics-line-chart td {
	width: 178px;
}

#gglnltcs-metrics td hr + strong,
#gglnltcs-dimensions td hr + strong,
#gglnltcs-metrics-line-chart td hr + strong {
	font-weight: bold;
}

/* Error Messages and Notes */
#gglnltcs-start-date.gglnltcs-validation-failed,
#gglnltcs-end-date.gglnltcs-validation-failed,
.gglnltcs-error-message {
	color: rgb(205, 92, 92);
	font-weight: bold;
}

.gglnltcs-date .gglnltcs-error-message,
.gglnltcs-date .gglnltcs-note {
	display: block;
	font-weight: bold;
	left: 204px;
	position: absolute;
	top: -46px;
	width: 112px;
}

.gglnltcs-date .gglnltcs-note {
	background: rgb(255, 255, 255);
	border: 2px solid rgb(114, 117, 122);
	display: none;
	font-weight: bold;
	padding: 5px;
}

.gglnltcs-date .gglnltcs-note.gglnltcs-err {
	border: 2px solid rgb(205, 92, 92);
	color: rgb(205, 92, 92);
	display: block;
}

#gglnltcs-start-date + .gglnltcs-note {
	top: 0;
}

#gglnltcs-end-date:focus + .gglnltcs-note,
#gglnltcs-start-date:focus + .gglnltcs-note {
	display: block;
}

.gglnltcs-date .gglnltcs-error-message {
	background: rgb(255, 255, 255);
	border: 2px solid rgb(205, 92, 92);
	padding: 5px;
	z-index: 2;
}

#gglnltcs-metrics .gglnltcs-error-message {
	background: rgb(255, 255, 255);
	border: 2px solid rgb(205, 92, 92);
	display: block;
	padding: 5px;
	position: relative;
	top: 27px;
	width: 170px;
}

#gglnltcs-start-date + .gglnltcs-error-message {
	top: 0;
}

.gglnltcs-error-message + .gglnltcs-note + #gglnltcs-get-statistics-button {
	margin-top: 15px;
}

table.gglnltcs tr.gglnltcs-validation-failed + tr.gglnltcs-validation-failed .gglnltcs-date .gglnltcs-error-message {
	display: none;
}

table.gglnltcs td.gglnltcs-date {
	display: block;
	position: relative;
}

div.ui-datepicker {
	font-size: 10px;
}

#gglnltcs-continuous_chart_div {
	height: 200px;
	left: -100px;
	width: 100%;
}

#gglnltcs-continuous_chart_div_container {
	height: 200px;
	position: relative;
}

#gglnltcs-continuous_chart_div_container .gglnltcs-error-message {
	background: rgb(255, 255, 255);
	border: 2px solid rgb(205, 92, 92);
	left: 36%;
	padding: 15px;
	position: absolute;
	top: 39%;
}

#gglnltcs-chart-metrics {
	position: relative;
	top: 0;
}

#gglnltcs-chart-metrics .gglnltcs-selected {
	background: rgb(232, 238, 250);
}

#gglnltcs-chart-metrics option:first-child {
	display: none;
}

/* Results Table */
.gglnltcs-results { 
	display: none;
	position: absolute;
}

.gglnltcs-results:first-child {
	display: block;
	position: relative;
}

.gglnltcs-results table {
	border-collapse: collapse;
	border-spacing: 0;
	height: 100%;
	margin: 0px;
	padding: 0px;
	position: relative;
	top: 3px;
}

.gglnltcs-results .gglnltcs-table-body table {
	background: rgb( 255, 255, 255 );
}

.gglnltcs-results table th {
	padding: 0 0 8px 0;
}

.gglnltcs-results th h3 {
	width: 200px;
}

.gglnltcs-results table.gglnltcs-table-header {
	left: -165px;
	top: 30px;
	width: 156px;
}

.gglnltcs-results table.gglnltcs-table-header td {
	border: none;
	font-weight: bold;
	padding-right: 10px;
	padding-top: 6px;
	text-align: right;
}

.gglnltcs-results table td {
	border: 1px solid rgb(0, 0, 0);
	padding: 5px;
	text-align: center;
	white-space: nowrap;
}

.gglnltcs-results th + td {
	padding-right: 0;
	position: relative;
}

.gglnltcs-results th + td + td {
	position: relative;
}

.gglnltcs-results div.gglnltcs-table-body {
	left: -156px;
	max-width: 700px;
	overflow-x: auto;
	position: relative;
	top: 30px;
}

.gglnltcs-results .gglnltcs-row-year td,
.gglnltcs-results .gglnltcs-row-month td,
.gglnltcs-results .gglnltcs-row-day td {
	background: rgb(232, 238, 250);
}

.gglnltcs-results .gglnltcs-row-year td.gglnltcs-hovered-cell,
.gglnltcs-results .gglnltcs-row-month td.gglnltcs-hovered-cell,
.gglnltcs-results .gglnltcs-row-day td.gglnltcs-hovered-cell {
	background: #909AAD;
	color: white;
}

.gglnltcs-results .gglnltcs-row-year td.gglnltcs-hovered-cell.gglnltcs-this-hovered-cell,
.gglnltcs-results .gglnltcs-row-month td.gglnltcs-hovered-cell.gglnltcs-this-hovered-cell,
.gglnltcs-results .gglnltcs-row-day td.gglnltcs-hovered-cell.gglnltcs-this-hovered-cell {
	background: #4D5C7A;
}

.gglnltcs-results td.gglnltcs-hovered-cell,
.gglnltcs-results .gglnltcs-table-body tr:hover {
	background: rgb(250, 244, 232);
}

.gglnltcs-results td.gglnltcs-hovered-cell.gglnltcs-this-hovered-cell {
	background: #AD9F7E;
	color: white;
	cursor: default;
}

.gglnltcs-results td.gglnltcs-end-of-line.gglnltcs-hovered-cell,
.gglnltcs-results td.gglnltcs-end-of-line.gglnltcs-hovered-cell.gglnltcs-this-hovered-cell {
	background: rgb(232, 238, 250);
}

.gglnltcs-results .gglnltcs-bad-results {
	position: relative;
	top: 50px;
}

p.gglnltcs-select-wrapper {
	position: relative;
}

p.gglnltcs-select-wrapper span {
	left: 7px;
	font-size: 14px;
	position: absolute;
	top: 4px;
}

#gglnltcs-main-form select,
#gglnltcs-main-form select option {
	width: 178px !important;
}

table.gglnltcs h3 {
	color: rgb(70, 70, 70);
	font-weight: 400;
	margin: 0;
}

svg > rect {
	 fill: none !important; 
}

#gglnltcs-main-header {
	margin-bottom: 1em;
	margin-top: 4px;
	font-size: 23px;
	padding: 9px 15px 4px 0;
	line-height: 29px;
	font-weight: 400;
	color: rgb(70, 70, 70);
}

div.gglnltcs-text-information {
	max-width: 500px;
}

#gglnltcs-log-out-field {
	margin-top: 30px;
}

#gglnltcs-main-form #gglnltcs-log-out-field {
	margin-top: 0;
}

#gglnltcs-log-out-field th,
#gglnltcs-log-out-field td {
	padding-bottom: 0;
	vertical-align: middle;
}

span.gglnltcs-tracking-id {
	color: rgb(0, 112, 0);
}

.gglnltcs-unsuccess-message {
	color: rgb(205, 92, 92);
}

#gglnltcs-tracking-id-table {
	margin-bottom: 2px;
}

#gglnltcs-tracking-id-table th {
	display: block;
	line-height: 1.3;
	margin-bottom: 18px;
	padding-bottom: 0;
	text-align: left;
	vertical-align: middle;
	width: auto;
}

#gglnltcs-tracking-id-table label {
	display: block;
}

#gglnltcs-tracking-id-table #gglnltcs-tracking-id-form label {
	display: inline;
}

#gglnltcs-tracking-code-label {
	display: inline-block;
	padding-top: 5px;
	padding-right: 5px;
}

#gglnltcs-add-tracking-code-checkbox input {
	margin-top: 0px;
}

#gglnltcs-add-tracking-code-checkbox {
	margin-top: 5px;
}

#gglnltcs-tracking-id-instructions {
	margin-top: 0;
	width: 500px;
}

#gglnltcs-tracking-id-instructions p {
	left: -2em;
	position: relative;
}

input[name="gglnltcs_tracking_id"] {
	position: relative;
	vertical-align: top;
	width: 178px;
}

input[name="gglnltcs_tracking_id"].gglnltcs-validation-failed {
	border: 2px solid rgb(205, 92, 92);
	margin-bottom: 28px;
	position: relative;
	top: -1px;
}

input[name="gglnltcs_tracking_id_reset"] + input[name="gglnltcs_tracking_id"] {
	background-image: url(../images/green-tick.png);
	background-position: right center;
	background-repeat: no-repeat;
}

.gglnltcs-text-information .gglnltcs-authentication-instructions {
	clear: both;
}

noscript .gglnltcs-google-sign-in.gglnltcs-button-primary {
	margin-bottom: 13px;
}

#gglnltcs-authentication-code-input {
	margin-right: 10px;
	vertical-align: top;
	width: 74%;
}

#gglnltcs-authentication-code-input.gglnltcs-validation-failed {
	top: -1px;
	position: relative;
}

#gglnltcs-results-wrapper {
	margin-bottom: 60px;
	position: relative;
}

#gglnltcs-results-wrapper table {
	margin-bottom: 30px;
}

#gglnltcs-group-by-Y-M-D {
	left: 212px;
	position: absolute;
	width: 100%;
	z-index: 2;
	top: 0;
}

#gglnltcs-group-by-Y-M-D span {
	display: block;
	float: left;
	font-weight: bold;
	padding: 4px;
	margin-right: 10px;
}

#gglnltcs-group-by-Y-M-D input.gglnltcs-selected {
	background: rgb(114, 117, 122);
	-webkit-box-shadow: inset 0 0px 0 #fff, 0 1px 0 rgba(0, 0, 0, .08);
	-moz-box-shadow:    inset 0 0px 0 #fff, 0 1px 0 rgba(0, 0, 0, .08);
	-ms-box-shadow:     inset 0 0px 0 #fff, 0 1px 0 rgba(0, 0, 0, .08);
	-o-box-shadow:      inset 0 0px 0 #fff, 0 1px 0 rgba(0, 0, 0, .08);
	box-shadow:         inset 0 0px 0 #fff, 0 1px 0 rgba(0, 0, 0, .08);
	color: rgb(255, 255, 255);
}

#ui-datepicker-div {
	z-index: 2 !important;
}

::-webkit-scrollbar {
	width: 12px;  /* for vertical scrollbars */
	height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
	background: rgb(229, 229, 229);
}

::-webkit-scrollbar-thumb {
	background: rgb(114, 117, 122);
}

/* Loading Circles */
#gglnltcs-date .gglnltcs-loading-icon,
#gglnltcs-tracking-code-nav-tab .gglnltcs-loading-icon,
.gglnltcs-get-statistics-cell .gglnltcs-loading-icon,
.nav-tab-wrapper .gglnltcs-loading-icon {
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;	
}

.nav-tab-wrapper .gglnltcs-loading-icon {
	display: inline-block !important;
	height: 21px;
	opacity: 0.7;
	position: relative;
	left: 5px;
	top: 5px;
	width: 21px;	
	/* for IE6 and IE7 */
    zoom: 1;
    *display: inline !important;
}

.nav-tab-wrapper .gglnltcs-loading-icon + .gglnltcs-loading-icon {
	display: none !important;
}

#gglnltcs-date .gglnltcs-loading-icon {
	bottom: 9px;
	height: 21px;
	right: -10px;
	width: 21px;
}

#gglnltcs-tracking-code-nav-tab .gglnltcs-loading-icon {
	height: 21px;
	opacity: 0.7;
	right: -38px;
	top: 13%;
	width: 21px;
}

.gglnltcs-get-statistics-cell .gglnltcs-loading-icon {
	height: 21px;
	right: -10px;
	top: 4px;
	width: 21px;
}

#gglnltcs-tracking-code-nav-tab {
	position: relative;
}

table.gglnltcs .gglnltcs-get-statistics-cell {
	display: block;
	position: relative;
}

@media only screen and (min-width: 600px) and (max-width: 780px) {
	.gglnltcs-results th,
	#gglnltcs-metrics th,
	#gglnltcs-metrics-line-chart th {
		display: none;
	}

	.gglnltcs-results table.gglnltcs-table-header {
		left: 0;
		top: 40px;
	}

	.gglnltcs-results div.gglnltcs-table-body {
		left: 0;
		max-width: 450px;
		top: 40px;
	}

	#gglnltcs-group-by-Y-M-D {
		left: 190px;
	}

	#gglnltcs-group-by-Y-M-D span {
		padding-top: 8px;
	}

	.wp-core-ui .button-primary,
	.wp-core-ui .button,
	.wp-core-ui .button-secondary {
		height: 36px;
	}

	#gglnltcs-main-form h3 {
		position: relative;
		top: 7px;
	}

	.gglnltcs-date .gglnltcs-error-message,
	.gglnltcs-date .gglnltcs-note {
		width: 100px;
		left: 183px;
		z-index: 5;
	}

}

@media only screen and (max-width: 599px) {
	.gglnltcs-results th,
	#gglnltcs-metrics th,
	#gglnltcs-metrics-line-chart th {
		display: none;
	}

	table.gglnltcs th {
		width: 150px;
	}

	.gglnltcs-results table.gglnltcs-table-header {
		left: 0;
		top: 40px;
	}

	.gglnltcs-results div.gglnltcs-table-body {
		left: 0;
		max-width: 250px;
		top: 40px;
	}

	#gglnltcs-group-by-Y-M-D {
		left: 0;
	}

	#gglnltcs-group-by-Y-M-D div {
		left: 163px;
		position: absolute;
	}

	#gglnltcs-group-by-Y-M-D span {
		padding-top: 8px;
	}

	.wp-core-ui .button-primary,
	.wp-core-ui .button,
	.wp-core-ui .button-secondary {
		height: 36px;
	}

	#gglnltcs-main-form h3 {
		position: relative;
		top: 5px;
	}

	.gglnltcs-date .gglnltcs-error-message,
	.gglnltcs-date .gglnltcs-note {
		width: 100px;
		left: 183px;
		z-index: 5;
	}

	#gglnltcs-tracking-id-table th {
		vertical-align: top;
	}

	input[name="gglnltcs_tracking_id"] {
		display: block;
	}

	#gglnltcs-tracking-id-table th {
		width: 150px;
	}

	#gglnltcs-tracking-id-form {
		height: 70px;
	}

	#gglnltcs-tracking-id-form input[type="submit"] {
		margin-top: 10px;
		width: 178px;
	}

	#gglnltcs-tracking-id-form .gglnltcs-validation-failed + input[type="submit"] {
		margin-top: 8px;
	}

	#gglnltcs-tracking-id-instructions {
		margin-top: 30px;
		position: relative;
		width: 92%;
	}

	#gglnltcs-tracking-id-instructions p {
		left: -2em;
		position: relative;
	}
}